body {
    background-image: url("../img/board.jpg");
  }
  #nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img{
	height: 40px;
	padding-left: 30px;
}
.navbar-nav li{
	padding: 0 10px;
}
.navbar-nav li a{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover{
	color: #007bff!important;
}
.navbar{
	background: #fff;
}
.navbar-toggler{
	border: none!important;
}
.nav-link{
	color: rgb(252, 252, 252)!important;
	font-weight: 600;
	font-size: 16px; 
}
.opaqued{
    background: rgba(255, 255, 255, .4)
}
.trial{
    background: rgba(6, 236, 194, 0.4);
    border-radius: 25px;
}
img.adidas {
    border-radius: 3%;
}
.test{
    width: 100%;
}

