body {
    /* background-image: url("../img/board.jpg"); */
    background-color: darkslategray;
  }
  #nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar-brand img{
	height: 40px;
	padding-left: 30px;
}
.navbar-nav li{
	padding: 0 10px;
}
.navbar-nav li a{
	float: right;
	text-align: left;
}
#nav-bar ul li a:hover{
	color: #007bff!important;
}
.navbar{
	background: #fff;
}
.navbar-toggler{
	border: none!important;
}
.nav-link{
	color: rgb(252, 252, 252)!important;
	font-weight: 600;
	font-size: 16px; 
}
.opaqued{
    background: rgba(255, 255, 255, .4)
}
.trial{
    background: rgba(6, 236, 194, 0.4);
    border-radius: 25px;
}
img.adidas {
    border-radius: 3%;
}
.test{
    width: 100%;
}
#heads{
    padding: 15px;
    margin: 5px;
}
.socials a{
    color: rgb(252, 252, 252)!important;
}
.socials a:before{
    color: red!important;
}
.socials a:after{
    color: yellow!important;
}
.socials a:hover{
    color: black!important;
}
.first{
    margin: auto;
    color: white;
}
.logos{
    margin: 2%;
    padding: 3px;
}
.company{
    background-color: lightslategray;
    margin: 15px 15px;
    padding: 10px;
    border-radius: 5px;
    color: black;
}
.title{
    background-color: wheat;
    margin: 15px 15px;
    padding: 10px;
    border-radius: 5px;
    color: 
    black;
}

.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }
  
  .html {width: 90%; background-color: #04AA6D;} /* Green */
  .css {width: 80%; background-color: #2196F3;} /* Blue */
  .js {width: 65%; background-color: #f44336;} /* Red */
  .php {width: 60%; background-color: #808080;} /* Dark Grey */